bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Compiled binaries and build artifacts
*/bin/
*/obj/

# Nuke Build specific
.nuke/temp/
.nuke/_tools/
.nuke/build.cmd
.nuke/build.sh

# Configuration files
*.user
*.rsuser
*.suo
*.vcxproj.user
*.pdb
*.cache

# Dotnet specific
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
